// _shame.scss 			~/styles/
// Styles here will be included throughout the project. Limit use as much
// as possible. Using too much here can cause un intended effects. Shame?
////////////////////////////////////////////////////////////


body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: rem-calc(300);
  @media #{$medium-up} {
    width: rem-calc(500);
  }
  @media #{$large-up} {
    width: rem-calc(700);
  }
}


p {
  color: $white;
}


h5 {
  margin-bottom: rem-calc(10);
  color: $white;
}


footer {
  position: absolute;
  bottom: 0;
  color: $white;
  margin-bottom: rem-calc(20);
}